:focus {
    outline: none !important;
}

.container {
    max-width: 1366px;
}

.infoCardImageContainer--image-full {
    font-size: 0;
    width: 100%;
}

.infoCardImage--image-full {
    width: 100%;
}

.infoCardTextContainer--image-full {
    display: none;
}

.imageElementLink--banner-home, .imageElement--banner-home {
    width: 100%;
}