@media(min-width: 1024px){
    .menuContainer{
        display: flex;
        justify-content: center;
    }

    .menuItem{
        margin: 0 50px;
    }

    .styledLinkContent:hover{
        font-weight: bold;
        transition: .3s all ease-in-out;
        
    }
}